babel==2.11.0
pandas==2.2.2
matplotlib==3.8.4
seaborn==0.13.2
streamlit==1.32.0
urllib3==2.2.2
pytz==2024.1
python-dateutil==2.8.2  # Correct package name and version
setuptools==69.5.1
pip==24.0  # Remove the space before '=='
Cython==0.29.36  # Set a valid version for Cython
pytest==7.4.4
